@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  background-color: rgb(158, 122, 235);
  padding: 20px;
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
}
 nav ul{
  background-color: rgb(231, 121, 121);
  border: solid 2px;
  list-style:none;
  padding: 50;
  gap: 50px;
  font-size: 20px;
} 

nav li {
  display: inline;
  margin: 50px;
}
div{
  background-color: rgb(158, 122, 235);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  color: white;
  margin-top: 50px;
}


